/*---------------------------------------------Google Fonts*/
@import url("https://fonts.googleapis.com/css?family=Raleway|Yatra+One:100,200,300,400,500,600,700&display=swap");
/*---------------------------------------------bg-colors*/
body {
  background-color: #fcf6e4;
}
.header-nav {
  background-color: #3f7a18;
}
.footer-row {
  background-color: #855917;
}

.bg-block {
  background-color: #cfc06b;
}

/*--------------------------------------------Navbar Hamburger Icon*/
.navbar.navbar-9 .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8");
}

/*--------------------------------------------Webpage default overrides*/
body {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.col-3,
.col-6,
.col-2,
.col-8 {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Yatra One", cursive;
  font-weight: 700;
}
p {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
hr {
  background: url("../images/swordheader.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 75px;
  border-top: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
.row {
  margin: 0;
}
/*--------------------------------------------Header*/
.logo {
  background: url("../images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header-nav {
  font-family: "Yatra One", cursive;
  flex-wrap: nowrap;
  margin: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;

}
/*--------------------------------------------Navbar*/
.menubars {
  margin-right: 0;
}
/*--------------------------------------------Hero Images*/
.hero-image-index {
  background: url("../images/indexhero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 300px;
  height: 100%;
  overflow: hidden;
  margin-top: 75px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .hero-image-index {
    min-height: 700px;
  }
}

/*--------------------------------------------Article blocks*/
.container {
  border: 2px solid #303030;
  margin-top: 5px;
  margin-bottom: 5px;
}

.div-who-are-we,
.div-what-is-hema,
.div-the-benifits {
  border-width: 1px solid #000;
}
/*--------------------------------------------Footer*/
.footer-row,
.footer-row .col-3 {
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  color: #fefefe;
}
