/*---------------------------------------------Google Fonts*/
@import url("https://fonts.googleapis.com/css?family=Girassol:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700&display=swap");
/*---------------------------------------------Background-colors*/
body {
  background-color: #fff3f3;
}

.header-nav {
  background-color: #6d1212;
}

.header-hidden-nav {
  background-color: #6d1212;
  border-bottom: 2px solid rgb(252, 200, 58);
}
.footer-row {
  background-color: #6d1212;
}

.card-header {
  background-color: #6d1212;
}

.btn-link:hover {
  color: #000000;
}

/*--------------------------------------------Webpage default overrides*/
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.col-3,
.col-6,
.col-2,
.col-8,
.col-10,
.col-12 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Girassol", cursive;
  font-weight: 600;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

hr {
  background: url("../images/swordheader.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 75px;
  border-top: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #000000;
}
.row {
  margin: 0;
}

.btn-link {
  font-weight: 400;
  color: rgb(252, 200, 58);
}

/*--------------------------------------------Header/Navbar*/
.header-nav {
  font-family: "Girassol", cursive;
  font-weight: 600;
  color: rgb(252, 200, 58);
  border-bottom: 2px solid rgb(252, 200, 58);
  padding-left: 10px;
}

.quote {
  margin-left: 8%;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  max-width: 40%;
}

.navbar-toggler:focus {
  color: rgba(252, 200, 58);
  border-color: rgb(252, 200, 58);
  text-decoration: currentColor;
}

.navbar-light .navbar-brand {
  color: rgb(252, 200, 58);
}
.navbar-light .navbar-nav .active > .nav-link {
  color: rgb(252, 200, 58);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(252, 200, 58, 0.6);
}

.navbar-light .navbar-toggler {
  border-color: rgb(252, 200, 58);
}
.navbar.header-nav .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger7.svg?color=FCC83A");
}

/*--------------------------------------------Hero Images*/
.hero-image-index {
  background: url("../images/indexhero.jpg");
}

.hero-image-news {
  background: url("../images/newsheroalt.jpg");
}

.hero-image-courses {
  background: url("../images/courseshero.jpg");
}

.hero-image-faq {
  background: url("../images/faqhero.jpg");
}

.hero-image-signup {
  background: url("../images/signuphero.jpg");
}

.hero-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 300px;
  height: 100%;
  overflow: hidden;
  margin-top: 0px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .hero-image {
    min-height: 700px;
  }
}

/*--------------------------------------------Sword Image*/
.sword-img {
  background: url("../images/swordheader.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  display: block;
  height: 75px;
  border-top: 0;
}

/*--------------------------------------------Article blocks*/
.container {
  background: url("../images/parchmentcolor.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 15px;
}

@media (min-width: 768px) {
  .hero-image-index {
    min-height: 700px;
  }
}

.date-text {
  line-height: 75px;
}

.card-header {
  border: 2px solid rgb(252, 200, 58);
}

.course-btn .btn {
  font-size: 110%;
}
.date-span {
  margin-left: 25%;
}

@media (max-width: 320px) {
  .date-span {
    margin-left: 0;
  }
}

.btn-signup {
  color: rgb(252, 200, 58);
  background-color: #6d1212;
  border-color: rgb(252, 200, 58);
}

.btn-signup:hover {
  background-color: #000000;
  border-color: rgb(252, 200, 58);
}

.faq-questions {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

/*--------------------------------------------Footer*/
.footer-row,
.footer-row .col-3 {
  margin: 0;
  flex-wrap: nowrap;
  color: rgb(252, 200, 58);
}

.footer-row {
  border-top: 2px solid rgb(252, 200, 58);
  padding: 4px;
}

#club-address {
  font-size: 90%;
  margin: 0;
}

#address-block {
  text-align: left;
  font-size: 80%;
  margin-left: 2%;
}

#address-list {
  list-style-type: none;
  text-align: left;
  padding: 0;
}
