@import url('https://fonts.googleapis.com/css?family=Raleway|Yatra+One:100,200,300,400,500,600,700&display=swap');

body{
    background-color: #9c9c9c;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
.logo {
    background: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.col-3,.col-6,.col-2,.col-8{
    margin: 0;
    padding: 0;
    text-align: center;
}

.menubars {
    margin-right: 0;
}

.twitter-i {
    text-align: left;
}

.facebook-i {
    text-align: right;
}
.header-nav {
    flex-wrap: nowrap;
    margin: 0;
    background-color: #7ecf6ab7;
    position: relative;
} 

.hero-image {

    background: url("../images/indexhero.jpg");
    background-size: contain;    
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 300px;

}

h1, h2, h3, h4, h5{
    font-family: "Yatra One", cursive;
    font-weight: 700;
}

p {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

hr{
    background: url("../images/swordheader.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 75px;
    
    border-top: 0;
    margin: 0;
}

.footer-row, .footer-row .col-3{

    background-color: #000000;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    color: #fefefe;
}